  <!-- Only show if the api is currently loading -->
  <div class="col-xs-12 col-sm-offset-1 col-sm-10" *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin"></i> Loading the class...
  </div>

  <!-- Only show if the api done loading -->
  <div class="col-xs-12 col-md-8" *ngIf="!isLoading && !editMode">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          {{model.title}}
          <small *ngIf="model.department">
            <span>&nbsp;-&nbsp;</span>
            <em class="text-muted">{{model.department}}</em>
          </small>
        </h2>
        <span *ngIf="model.section">
          <em><strong>Section: {{model.section}}</strong></em>
          <br/>
        </span>
        <p>{{model.description}}</p>
        <button class="btn btn-sm btn-primary" (click)="joinClass(model.code)" [ladda]="isJoinClassInprogress" *ngIf="!isStudentInClass">Join Class</button>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Activities</h3>
        <div class="form-group" *ngIf="showTeacherView">
          <button type="button" class="btn btn-primary"  (click)="showActivityModal()">
            Add New Activity
          </button>
        </div>
        <activity-list [activities]="model.activities" [classCode]="model.code" [isStudentInClass]="isStudentInClass" [isTeacher]="showTeacherView"></activity-list>
      </div>
    </div>
  </div>

  <!-- Only show if in edit mode -->
  <div class="col-xs-12 col-md-8" *ngIf="editMode && showTeacherView">
    <h2>Edit Class Details</h2>
    <form #editClassForm="ngForm" autocomplete="off">
      <div class="form-group">
        <label class="required" for="title">Title</label>
        <input type="text" placeholder="Algebra 1" class="form-control" id="title" required minlength=3 [ngModel]="model.title" name="title" #title="ngModel" clearPlaceholder>
        <span [hidden]="title.pristine || title.valid" class="text-danger">
          Class title must be at least 3 characters long.
        </span>
      </div>
      <div class="form-group">
        <label for="department">Department <em class="text-muted font-weight-normal">Optional</em></label>
        <input type="text" placeholder="Mathematics" class="form-control" id="department" [ngModel]="model.department" name="department" #department="ngModel" clearPlaceholder>
      </div>
      <div class="form-group">
        <label for="section">Section <em class="text-muted font-weight-normal">Optional</em></label>
        <input type="text" placeholder="001 or A" class="form-control" id="section" [ngModel]="model.section" name="section" #section="ngModel" clearPlaceholder>
      </div>
      <div class="form-group">
        <label class="required" for="description">Description</label>
        <textarea placeholder="Describe your class here" class="form-control" rows="3" id="description" required [ngModel]="model.description" name="description" #description="ngModel" clearPlaceholder></textarea>
        <span [hidden]="description.pristine || description.valid" class="text-danger">
          Class description is required.
        </span>
      </div>
      <p class="text-danger" *ngIf="!editClassForm.form.valid">* Required Fields</p>
      <div class="form-group">
        <button type="button" class="btn btn-primary" [disabled]="!editClassForm.form.valid" (click)="saveChanges(editClassForm)" [ladda]='isLoading'>
          <span class="ladda-label">Save Changes</span>
        </button>
      </div>
    </form>
    <button class="btn btn-default" (click)="toggleEditMode()">Cancel</button>
  </div>

  <!-- Only show if the api done loading and the user is the teacher of this class-->
  <div class="col-xs-12 col-md-4"  *ngIf="!isLoading && showTeacherView">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <p class="text-muted">
              <em>
                This panel is only visible to the teacher of this class.
              </em>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-default" (click)="toggleEditMode()">Edit Class Details</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Class Code</h4>
            <b><h5>{{model.code}}</h5></b>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Students</h4>
            <p class="text-muted">
              <em>To remove a student click the icon next to their email.</em>
            </p>
            <user-list [classCode]="model.code" [users]="model.students"></user-list>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Add Activity Modal -->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHideActivityModal()" bsModal #addActivityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Activity</h4>
        <button type="button" class="close pull-right" (click)="hideActivityModal()">
          <small>Cancel</small>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createActivityForm="ngForm" autocomplete="off">
          <div class="form-group">
            <label class="required">Name</label>
            <input type="text" required placeholder="Week 1 Problems" [(ngModel)]="newActivity.title" name="title" class="form-control" clearPlaceholder>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label class="required"># of Problems to Complete</label>
                <input type="number" min="1" step="1" value="5" [(ngModel)]="newActivity.problemCount" name="problemCount" class="form-control">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label>Start Date (Optional)</label>
                <input type="date" class="form-control" [(ngModel)]="newActivity.startDate" name="startDate">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label>Due Date (Optional)</label>
                <input type="date" class="form-control" [(ngModel)]="newActivity.dueDate" name="dueDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label class="required">Book</label>
                <select class="form-control" [(ngModel)]="newActivity.bookId" #newActivity.bookId="ngModel" name="book" (change)="bookSelected()">
                  <option *ngFor="let book of books" [value]="book.id" [disabled]="book.id === undefined">{{book.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label class="required">Chapter</label>
                <select class="form-control" name="chapter" [disabled]="chapters.length < 2" (change)="chapterSelected($event.target.value)">
                  <option *ngFor="let chapter of chapters; let i = index" [value]="chapter.id">{{chapter.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label class="required">Section</label>
                <select class="form-control" name="section" [disabled]="sections.length < 2" (change)="sectionSelected($event.target.value)">
                  <option *ngFor="let section of sections; let i = index" [value]="section.id">{{section.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-md-4" *ngIf="sampleProblems.length > 0">
              <label>Sample Problem(s)</label>
              <pre><code><div *ngFor="let problem of sampleProblems">{{problem}}</div></code></pre>
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-danger" *ngIf="!createActivityForm.form.valid">* Required Fields</p>
            <div class="form-group">
              <button type="button" class="btn btn-primary pull-right" [disabled]="!createActivityForm.form.valid || !newActivity.bookId || !newActivity.chapterTitle || !newActivity.sectionTitle" (click)="addActivity()" >
                Add New Activity
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
