<div class="row" *ngIf="!emailSent">
  <div class="col-xs-12">
    <div class="welcome">
      <h1 class="text-brand">
        Forgot Password<br/>
        <hr class="hr-half">
      </h1>
    </div>
  </div>
</div>
<div class="row" *ngIf="!emailSent">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <p class="text-center">
      If you have forgotten the password for your account, enter your email in the form below and we will email you a link to reset your password.
    </p>
    <br/>
    <form #forgotPasswordForm="ngForm" autocomplete="off">
      <div class="form-group">
        <label class="required" for="email">Email</label>
        <input type="email" placeholder="user@example.com" class="form-control" id="email" required pattern="[^@]+@[^@]+\.[^@]+" [(ngModel)]="emailAddress" name="email" #email="ngModel" clearPlaceholder>
        <span [hidden]="email.pristine || email.valid" class="text-danger">
          A valid email is required
        </span>
      </div>
      <p class="text-danger" *ngIf="!forgotPasswordForm.form.valid">* Required Fields</p>
      <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.form.valid" (click)="submit()" [ladda]='isLoading'><span class="ladda-label">Send Password Reset Email</span></button>
    </form>
    <br/>
    <a [routerLink]="['']">Back to Sign In</a>
  </div>
</div>
<div class="row welcome" *ngIf="emailSent">
  <div class="col-xs-12">
    <div class='text-center'>
      <h1 class="text-brand">
        <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i><br/>
        Email Sent
      </h1>
      <p>
        A link to reset your password has been sent to the email address provided.<br/>
        If you did not receive this email, please check your spam or try again.
      </p>
      <a [routerLink]="['']">Return to Sign In</a>
    </div>
  </div>
</div>
