<div class="row">
  <div class="col-xs-12">
    <h2>My Classes</h2>
  </div>
  <div class="col-xs-12 col-sm-offset-1 col-sm-10" *ngIf="classes">
    <div class="row" *ngFor="let class of classes;">
      <div class="col-xs-12">
        <a [routerLink]="['/class/', class.code]">
          <h3>
            {{class.title}} <small>{{class.subtitle}}</small>
          </h3>
        </a>
        <p>
          {{class.description}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr/>
        <a [routerLink]="['/class/']">Browse for New Classes to Study</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-offset-1 col-sm-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="empty-state text-center" *ngIf="!classes">
          <i class="fa fa-users fa-4x"></i>
          <h4>
            You Aren't Currently a Member of Any Classes.<br/>
            <small><a [routerLink]="['/class/']">Search for One to Join</a></small>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
