html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 70px;
}

.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 102px;
}
.footer {
  height: 102px;
  margin-top: -102px;
  padding-top: 50px;
}

.footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  /*TODO: set this color as the brand-primary color*/
  color: rgb(165, 238, 197);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover:active,
.navbar-default .navbar-brand:hover:visited,
.navbar-default .navbar-brand:hover:link {
  /*TODO: set this color as the brand-primary color*/
  color: rgb(165, 238, 197);
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgb(165, 238, 197);
}

.header {
  margin: 0 auto;
  text-align: center;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.raleway-font {
  font-family: 'Raleway', sans-serif;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}

.text-brand {
  color: rgb(165, 238, 197);
}

.text-muted {
  color: #666;
}

.font-weight-normal {
  font-weight: normal;
}

.welcome {
  margin-top: 10%;
  text-align: center;
}

.hr-half {
  width: 50%;
}

.empty-state {
  margin-top: 10%;
  margin-bottom: 10%;
}

.logout:hover {
  color: #a94442 !important;
  cursor: pointer;
}

.tab-instruction {
  padding-top: 15px;
  padding-bottom: 30px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

#removeStudentIcon {
  margin-right: 5px;
}

@media (max-width:767px){
  .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}

label.required::before {
  content: "* ";
  color: #a94442;
}

.lightBadStep {
  color: #ffffff;
  background: linear-gradient(to bottom, #d64f4f 0, #e04343 100%);
}

.lightBadStep:hover{
  color: #ffffff;
  background: linear-gradient(to bottom, #fb0207 0, #be0205 100%);
}