body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.navbar-default .navbar-brand {
  /*TODO: set this color as the brand-primary color*/
  color: rgb(165, 238, 197);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover:active,
.navbar-default .navbar-brand:hover:visited,
.navbar-default .navbar-brand:hover:link {
  /*TODO: set this color as the brand-primary color*/
  color: rgb(165, 238, 197);
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgb(165, 238, 197);
}

.header {
  margin: 0 auto;
  text-align: center;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.raleway-font {
  font-family: 'Raleway', sans-serif;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}

.text-brand {
  color: rgb(165, 238, 197);
}

.text-muted {
  color: #666;
}

.font-weight-normal {
  font-weight: normal;
}

.welcome {
  margin-top: 10%;
  text-align: center;
}

.hr-half {
  width: 50%;
}

.empty-state {
  margin-top: 10%;
  margin-bottom: 10%;
}
