<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']">mentii</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngIf="isAuthenticated">
        <li class="dropdown" *ngIf="role == 'admin'">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Portal <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/admin']">Change User Role</a></li>
          </ul>
        </li>
        <li *ngIf="role == 'teacher' || role == 'admin'"><a [routerLink]="['/create/class']">Create a Class</a></li>
        <li><a [routerLink]="['/class']">View Public Classes</a></li>
      </ul>
      <!-- Right side nav items for unauthenticated users -->
      <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated">
        <li><a [routerLink]="['']">Sign In</a></li>
        <li><a [routerLink]="['/register']">Register</a></li>
      </ul>
      <!-- Right side nav items for authenticated users -->
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li role="separator" class="divider"></li>
        <li><a (click)="logout()" class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Router Outlet -->
  <router-outlet></router-outlet>
</div>
