<div class="row">
  <div class="col-xs-12" *ngIf="users && users.length">
    <div class="row" *ngFor="let user of users;">
      <div class="col-xs-12">
        <h5>
          <span id="removeStudentIcon">
            <a (click)="selectedUser(user)" class="cursor-pointer" data-toggle="modal" data-target="#confirmDelete">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </span>
          {{user}}
        </h5>
      </div>
    </div>
  </div>
  <!-- Only show if no data returned -->
  <div class="col-xs-12" *ngIf="!users || !users.length">
    <div class="empty-state text-center text-muted">
      <i class="fa fa-users fa-2x"></i>
      <h5>
        There are no users in this list
      </h5>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove Student From Class</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove <b>{{selected}}</b> from this class?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)=removeUser() type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>
