<div class="row">
  <div class="col-xs-12" *ngIf="users && users.length">
    <div class="row" *ngFor="let user of users;">
      <div class="col-xs-12">
        <h5>
          {{user}}
        </h5>
      </div>
    </div>
  </div>
  <!-- Only show if no data returned -->
  <div class="col-xs-12" *ngIf="!users || !users.length">
    <div class="empty-state text-center text-muted">
      <i class="fa fa-users fa-2x"></i>
      <h5>
        There are no users in this list
      </h5>
    </div>
  </div>
</div>
