<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{classObject.title}}<span *ngIf="classObject.department">&nbsp;-&nbsp;</span><em class="text-muted">{{classObject.department}}</em>
    </h3>
  </div>
  <div class="panel-body">
    <p>
      <span *ngIf="classObject.classSection"><em><strong>Section: {{classObject.classSection}}</strong></em><br/></span>
      {{classObject.description}}
    </p>
    <br/>
    <button class="btn btn-sm btn-primary" (click)="joinClass(classObject.code)" *ngIf="joinClassButtonShown" [ladda]="isJoinClassInprogress">
      Join {{classObject.title}}
    </button>
    <a [routerLink]="['/class/', classObject.code]" class="btn btn-sm btn-info">View Class Details</a>
    <a *ngIf="editClassButtonShown" [routerLink]="['/class/', classObject.code]" [queryParams]="{edit:true}" class="btn btn-sm btn-info">Edit Class Details</a>
  </div>
</div>
