<div class="row">
  <div class="col-xs-12">
    <!-- Only show if there are chapter -->
    <div *ngIf="chapters && chapters.length">
      <div class="row" *ngFor="let chapter of chapters">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{chapter.title}}
              </h3>
            </div>
            <div class="panel-body">
              <p *ngIf="chapter.description">
                {{chapter.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Only show if there are no chapters -->
    <div *ngIf="!chapters || !chapters.length">
      <div class="empty-state text-center">
        <i class="fa fa-pencil fa-4x"></i>
        <h4>
          No Chapters Have Been Created for this Class.
        </h4>
      </div>
    </div>
    <!-- Add more chapters -->
    <button type="button" class="btn btn-primary" (click)="addChapter()" [ladda]='isLoading'>
      <span class="ladda-label">Add New Chapter</span>
    </button>
  </div>
</div>
